<!-- Banner -->
<%- partial('_partial/banner.ejs', {
  mainText: page.title + (theme.enableSubtitle && !page.noSubtitle ? ' ' + page.subtitle || theme.subtitle : '') || theme.default_post_title || __('default_post_title'),
  pubDate: page.date,
  banner: page.cover || '',
  secondaryText: '',
  author: page.author || config.author || ''
}) %>
<% if (Math.random() < 0.5 || !theme.leaderboard) { %>
  <% if (theme.ezoic.enable) { %>
<div id="ezoic-pub-ad-placeholder-103">
  <% } %>
  <% if (theme.adsense.enable) { %>
  <ins class="adsbygoogle" style="display:block;" data-ad-client="<%- theme.adsense.id %>"
      data-ad-slot="2852699055" data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <% } %>
  <% if (theme.ezoic.enable) { %>
</div>
<% } %>
<% } else { %>
<% if(theme.leaderboard || config.leaderboard || page.leaderboard) { %>
<% let ads = site.data.leaderboard; let ad = ads[Math.floor(Math.random() * ads.length)]; %>
<aside class="leaderboard tc mv3" id="beforeArticlePromo">
  <a href="<%- ad.adLink %>" rel="nofollow" target="_blank"><img src="<%- ad.imageLink %>" class="grow"
          alt="leaderboard promo"></a>
</aside>
<% } %>
<% } %>
<!-- Content -->
<section class="w-100 ph2 ph4-m ph5-l mv2">
  <div class="w-80 f4-l f5 center black-70 content">
    <div class="fl w-100 left fw3 lh-copy post-content">
      <!-- Main Post Content -->
      <article>
        <%- page.content %>
      </article>
    </div>
    <div class="cf"></div>
  </div>
  <div class="tc promo" id="afterArticlePromo">
    <%- partial('_partial/widget-ads') %>
  </div>
  <!-- Tags Bottom -->
  <% if (page.tags && page.tags.length) {
    var tags = [];
    page.tags.forEach(function(tag) {
        tags.push('<a class="fw3 ph1 br1 bg-light-gray black-90 dim" href="' +  config.root + tag.path + '">#' + tag.name + '</a>');
    });
  } %>
  <% if (page.tags && page.tags.length) { %>
    <div class="tags-container-bottom tc">
        <%- tags.join(' ') %>
    </div>
  <% } %>
  <%- partial('_partial/widget-share', {item: page, tags: page.tags.map(tag => tag.name.replace(' ', '') )}) %>
</section>
<section class="w-100 pv3 f6 ph3 ph4-ns">
  <div class="mw9 center ph3-ns cf">
      <% site.categories.findOne({name: page.series[0]}).filter(post => post.path != page.path).posts.forEach(function(post, index){ %>
        <article class="fl w-100 w-third-ns pa2">
          <a href="<%- url_for(post.path) %>"><img src="<%- thumb(post.cover) %>" class="w-100 db related-post-image grow" width="265" height="198" alt="<%- post.title %>"></a>
          <div class="pa3">
            <h4>
              <a href="<%- url_for(post.path) %>" class="link dim lh-title">
                <%= (post.title || theme.default_post_title) %>
              </a>
            </h4>
            <small class="gray db pv2"><%- post.description %></small>
          </div>
        </article>
        <% if (index % 3 === 2) { %><div class="cf"></div><% } %>
      <% }) %>
  </div>
</section>
<%- partial('_partial/adsense') %>
