<main id="main-content" class="main">

<% if (theme.sidebar || page.sidebar) {%>
<section class="w-100 w-70-l ph2 ph4-m pl5-l mv2 fl content-container">
<% } else { %>
<section class="w-100 ph2 ph4-m ph5-l mv2">
<% } %>
<!-- Content -->
    <div class="ph4-l f4-l f5 center black-70 content">
        <div class="fl w-100 left fw3 lh-copy post-content">
            <!-- Banner -->
            <%- partial('_partial/banner.ejs', {
                mainText: page.title + (theme.enableSubtitle ? ' ' + theme.subtitle : '') || theme.default_post_title || __('default_post_title'),
                pubDate: page.date,
                banner: page.cover || '',
                secondaryText: '',
                author: page.author || config.author || ''
            }) %>
            <% if(theme.leaderboard || config.leaderboard || page.leaderboard) { %>
            <aside class="leaderboard tc">
                <a href="<%- site.data.leaderboard.adLink %>"><img src="<%- site.data.leaderboard.imageLink %>" class="grow" alt="leaderboard promo"></a>
            </aside>
            <% } %>
            <!-- Tags Vertical -->
            <% if (page.tags && page.tags.length) {
                    var tags = [];
                    page.tags.forEach(function(tag) {
                        tags.push('<a class="fw3 ph1 br1 bg-light-gray black-90 dim" href="' +  config.root + tag.path + '">#' + tag.name + '</a>');
                    });
                } %>
                <% if (config.enableToC || theme.enableToC || page.enableToC) { %>
                <nav role="navigation" class="toc-container">
                    <h5>On This Page</h5>
                    <%- toc(page.content, {list_number: false, max_depth: 3}) %>
                </nav>
                <% } %>
                <!-- Main Post Content -->
                <article>
                    <%- page.content %>
                </article>

                <%- partial('_partial/review', {item: page}) %>
                <div class="tc promo">
                    <%- partial('_partial/widget-ads') %>
                </div>
                <!-- Tags Bottom -->
                <% if (page.tags && page.tags.length) { %>
                    <div class="tags-container-bottom">
                        <%- tags.join(' ') %>
                    </div>
                <% } %>
                <% if (theme.showBio) { %>
                <%- partial('_partial/widget-about', {item: page}) %>
                <% } %>
                <!-- Comments -->
                <%- partial('_partial/comments.ejs') %>
        </div>
    </div>
    <%- partial('_partial/widget-share', {item: page, tags: page.tags.map(tag => tag.name.replace(' ', '') )}) %>
    <%- partial(theme.posts_widget) %>
    <aside class="tc gray">
        <small>We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising
            program designed to provide a means for sites to earn advertising fees by advertising and linking
            to Amazon.com, Amazon.co.uk or Amazon.ca.</small>
    </aside>
</section>
<% if (theme.sidebar || page.sidebar) { %>
<aside class="w-30-l w-100 fl sidebar ph2 tc" style="position: sticky;top: 20px;">
<%- partial('_partial/widget-sidebar-social') %>
<%- partial('_partial/widget-sidebar-signup') %>
<%- partial('_partial/widget-sidebar-ads') %>
</aside>
<div class="cf"></div>
<% } %>
</main>