<!-- Banner -->
<header class="header">
    <nav class="dt w-100 mw8 center">
        <a class="db dtc-l v-mid link dim w-100 w-50-l tc tl-l mb2 mb0-l" href="<%- config.root %>" title="<%- config.title %>">
            <img src="<%- theme.logo_image_source %>" height="<%- theme.logo_height %>" width="<%- theme.logo_width %>" class="dib" alt="<%- config.title %>">
        </a>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <% for (var i in theme.menu) { %>
                <a class="link dim f6 f5-l dib mr3 mr4-l" href="<%- url_for(theme.menu[i]) %>" title="<%= i %>">
                    <%= i %>
                </a>
                <% } %>
        </div>
        <gcse:search></gcse:search>
    </nav>
    <!-- Title -->
    <div class="avenir tc-l ph3 ph4-ns">
        <% if (banner) { %><img class="w-100 dib" src="<%= banner %>" alt="<%- mainText %>" /><% } %>
        <h1 class="f2 lh-title fw1">
            <%- mainText %>
        </h1>
        <% if (pubDate) { %>
            <time class="f5 f4-l db fw1" datetime="<%= pubDate %>"><%= moment(pubDate).format("Do MMMM") %></time>
        <% } %>
        <% if (secondaryText) { %>
            <span class="f5 f4-l db fw1"><%= secondaryText %></span>
        <% } %>
    </div>
</header>
