<section class="flex-ns items-center marketing">
  <div class="mw6 pl6-l ph1">
    <img src="<%- theme.marketing.image %>" alt="<%- theme.marketing.title %>">
  </div>
  <div class="tc tl-ns ph3 center">
    <h2 class="f2 f1-l fw2 mb3 mt4 mt0-ns">
      <%- theme.marketing.title %>
    </h2>
    <h3 class="f4 f3-l fw1 mb4 mb5-l lh-title">
      <%- theme.marketing.subtitle %>
    </h3>
    <a class="f2-l f3 grow no-underline br-pill ph5-l ph3 pv2 mb2 dib white bg-black" href="<%- theme.marketing.link %>">Get Started</a>
  </div>
</section>