<div class="social mv2">
  <h4>Let's Keep in Touch</h4>
    <a class="link dib h2 w2 mr3 grow" href="<%= theme.social_platforms.pinterest.url %>" title="<%= theme.social_platforms.pinterest.title %>" target="_blank" rel="noopener">
      <%- theme.social_platforms.pinterest.svg %>
    </a>
    <a class="link dib h2 w2 mr3 grow" href="<%= theme.social_platforms.facebook.url %>" title="<%= theme.social_platforms.facebook.title %>" target="_blank" rel="noopener">
      <%- theme.social_platforms.facebook.svg %>
    </a>
    <a class="link dib h2 w2 mr3 grow" href="<%= theme.social_platforms.twitter.url %>" title="<%= theme.social_platforms.twitter.title %>" target="_blank" rel="noopener">
      <%- theme.social_platforms.twitter.svg %>
    </a>
</div>